.user-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-wrapper{
    height: 80%;
    width: 100%;
}

.tile-layout {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .user-wrapper{
        margin-top: 24px;
        width: 100%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .user-wrapper{
        margin-top: 40px;
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .user-wrapper{
        margin-top: 56px;
        width: 90%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .user-wrapper{
        margin-top: 72px;
        width: 80%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}